<%- include('partials/head', {title: "Aula Virtual - Historia I" }) %>
<%- include('partials/header') %>
<script src="/js/searchTitles.js" defer></script>    

    
        <% if (typeof pageTitle != "undefined") { %>
            <h1 class="text-center p-2"><%= pageTitle%></h1>
        <% } else { %>
            <h1 class="text-center p-2">DISCO VIRTUAL</h1>
        <% } %>
    
        <section class="container d-md-flex justify-content-center fs-4">    
    <article id="folders-title" style="display: none;" class="w-50">
        <h3 >SUBCARPETAS:</h3>

        <% driveFiles.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)).forEach( file => { %>
        
            <% if (file.mimeType == 'application/vnd.google-apps.folder') { %>
                <form action="/<%= file.id%>" method="POST" >
                    <a href="javascript:{}" onclick= parentElement.submit()><p><%= file.name%></p></a>
                    <input type="hidden" class="folder-name" name="folderName" value="<%= file.name%>">
                </form>
            <% } %>       
            
        <% }) %>
    </article>
    <article id="files-title" style="display: none;" class="w-50">
        <h3 >ARCHIVOS EN CARPETA:</h3>

        <% driveFiles.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)).forEach( file => { %>

            <% if (file.mimeType != 'application/vnd.google-apps.folder') { %>
                <a class="single-file" href="<%= file.webViewLink%>"><p><%= file.name%></p></a>
            <% } %>   

        <% }) %>
            </td>
    </article>    
    </section>

    <section>
        <% if (typeof pageTitle != "undefined") { %>
            <button type="button" onclick=window.history.back()>VOLVER</button>
        <% } %>
    </section>

</body>
</html>