<%- include('partials/head', {title: "Resultados de búsqueda" }) %>
<%- include('partials/header') %>
<script src="/js/searchTitles.js" defer></script>    

<% if (driveFiles.length == 0) { %>
    <h1 class="ps-4 my-3">RESULTADOS DE BÚSQUEDA: "<%=inputValue%>"</h1>
    <h2 class="ps-4 my-3">No se encontraron resultados.</h2>
    <% } else { %>
        <h1 class="ps-4 my-3">RESULTADOS DE BÚSQUEDA: "<%=inputValue%>"</h1>
        <% } %>
        
        <main class="container-fluid">
        <section class="row justify-content-around mx-auto col-md-10 fs-4 mb-5">
        
            <article id="folders-title" style="display: none;" class="col-md-5 bg-light shadow rounded-2 pb-2 mb-4 mb-md-0">
        
                <h3 class="my-2 p-2 text-white bg-dark">CARPETAS:</h3>
        
        
        <% driveFiles.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)).forEach( file => { %>
        
            <% if (file.mimeType == 'application/vnd.google-apps.folder') { %>
                <form action="/<%= file.id%>" method="POST" >
                    <a class="link-dark a-list py-2 ps-2" href="javascript:{}" onclick= parentElement.submit()><img class="px-2 pb-1" src="/images/folder.png"><%= file.name%></a>
                    <input type="hidden" class="folder-name" name="folderName" value="<%= file.name%>">
                </form>
            <% } %>       
            
        <% }) %>
    </article>
        <article id="files-title" style="display: none;" class="col-md-6 bg-light shadow rounded-2 pb-2">
        <h3 class="my-2 p-2 text-white bg-dark">ARCHIVOS:</h3>

        <% driveFiles.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)).forEach( file => { %>

            <% if (file.mimeType != 'application/vnd.google-apps.folder') { %>
                <a class="single-file link-dark a-list py-2 ps-2 text-break" href="<%= file.webViewLink%>"><img class="px-2 pb-1" src="/images/<%= file.mimeType%>.png"><%= file.name%></a>
            <% } %>   

        <% }) %>
    </article>
    </section>
    </main>

</body>
</html>